---
name: Ansible Collection CI

on:
  workflow_call:
    inputs:
      run_publish:
        type: boolean
        default: false
      run_build:
        type: boolean
        default: false

jobs:
  ci:
    name: Lint, Test, Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: pip install -r './automation/requirements.txt'

      - name: Install Task
        uses: arduino/setup-task@v2

      - name: Run Lint
        run: task lint

      - name: Run Tests
        run: task test

      - name: Build Collection
        if: ${{ inputs.run_build }}
        run: task build:notest

      - name: Publish Collection
        if: ${{ inputs.run_publish }}
        env:
          ANSIBLE_GALAXY_TOKEN: ${{ secrets.ANSIBLE_GALAXY_TOKEN }}
        run: task publish:nobuild
